body {
    background: black;
    color: white;
}

#entrypic {
    width: 100%;
    position: fixed;
    top: -90px;
    z-index: -1;   
}

.firsttitle {
    top: 50%;
    left: 45%;	
    position: absolute;
    text-align: center;
    color: black;
    -webkit-text-stroke: 1px white;
    font-family: sans-serif;
    text-size: 24pt;
}
