---
layout: default
title: Get Swagged Out by Steph!
---
<div class="firsttitle"> <a class="firsttitle" href="index"> 
    <h1>Stephs Chains</h1>
</a></div>
<div class="contacttext">
  <p class="contacttext">Hit me up for chains and stuff! (777) 777 7777 or stephs.chains@gmail.com for custom orders, or browse the gallery of what I currently have avaliable below.
  </p>
  <p style="color:red">Custom orders are currently closed</p>
  <p>Find me at these upcoming local markets!</p>
  <ul>
    {% for market in site.data.all.markets %}
    <li>{{ market.name }} : {{ market.date }}</li>
    {% endfor %}
  </ul>
</div>

<div class="centereddisplay">
  <h1>Gallery</h1>
  <h2>Click on an image to inquire via email.</h2>
  {% for item in site.data.all.items %}
  <div  class="forsale">
    <a href="mailto:stephschains@gmail.com?subject=Inquiry:{{ item.name }}">
      {{ item.name }} <span style="color:green">{{ item.price }}</span>
      <img src="{{ item.image }}" style="width: 100%"></img>
    </a>
  </div>
  {% endfor %}
</div>
